ATLAS_PORT=8080
ATLAS_ADMIN_HASH=scrypt$replace-with-salt$replace-with-hash
ATLAS_SECURE_COOKIES=true

PVE_API_URL=https://pve.example.internal:8006/
PVE_API_TOKEN_ID=atlas@pve!atlas
PVE_API_TOKEN_SECRET=replace-me
PVE_POLL_INTERVAL_SECONDS=60
PVE_TLS_INSECURE=false
# PVE_CA_CERT=/run/secrets/pve_ca.pem

DOCKER_COLLECTION_ENABLED=false
DOCKER_COLLECTOR_KEY_PATH=./secrets/id_ed25519
DOCKER_KNOWN_HOSTS_PATH=./secrets/known_hosts
DOCKER_COLLECTOR_ROOT_VMIDS=
DOCKER_POLL_INTERVAL_SECONDS=120

# NTFY_URL=https://ntfy.example.com
# NTFY_TOPIC=pve-atlas
# NTFY_TOKEN=replace-me
